git+https://github.com/Rapptz/discord.py
aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
audiosegment==0.23.0
cffi==1.14.3
chardet==3.0.4
click==7.1.2
discord==1.0.1
discord.py==1.5.1
idna==2.10
joblib==0.17.0
multidict==4.7.6
nltk==3.5
numpy==1.19.4
Pillow==8.0.1
pycparser==2.20
pydub==0.24.1
PyNaCl==1.4.0
regex==2020.11.13
six==1.15.0
tqdm==4.52.0
webrtcvad==2.0.10
yarl==1.5.1
